apscheduler
dotenv
docx2txt
email_validator
flask
flask_sqlalchemy
flask_bcrypt
flask_login
flask-cors
flask_mail
flask-wtf
itsdangerous
jupyter
jose
langchain
langchain_groq
langchain_community
openai
pypdf